.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #121212;
}

.navbar h2 a {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.navbar form {
    display: flex;
    gap: .5rem;
}

.navbar input {
    padding: .2rem .8rem;
    border-radius: 4px;
    border: none;
}

.navbar form button {
    background-color: #F7D354;
    border: 2px solid #F7D354;
    border-radius: 4px;
    color: #000;
    padding: .3rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .4s;
}

.navbar form button:hover {
    background-color: transparent;
    color: #F7D354;
}

@media only screen and (max-width: 420px) {
    
    .navbar {
        max-width: 419px;
    }
    .navbar form {
        gap: 0.2rem;
    }
}

@media only screen and (min-width: 250px) and (max-width: 380px) {
    
    .navbar form {
        gap: 0.2rem;
    }

    .navbar input {
        padding: .1rem .1rem;
        border-radius: 4px;
        border: none;
        max-width: 150px;
    }

.navbar {
    max-width: 100%;
}


}

