.container .title {
    color: #FFF;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0 1rem;
}

.title .queryText{
    color: #F7D354;
}

.moviesConatiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.moviesConatiner div {
    width: 30%;
    color: #FFF;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111;
    padding: 1rem;
}

.moviesConatiner div img {
    max-width: 100%;
}

.moviesConatiner div img,
.moviesConatiner div h2,
.moviesConatiner div p {
    margin-bottom: 1rem;
}

.moviesConatiner div svg {
    color: #F7D354;
}

.moviesConatiner div a {
    background-color: #F7D354;
    border: 2px solid #F7D354;
    border-radius: 4px;
    color: #000;
    padding: 1rem .5rem;
    align-items: center;
    transition: .4s;
    text-align: center;
    font-weight: bold;
}

.moviesConatiner div a:hover {
    background-color: transparent;
    color: #F7D354;
}

h1 {
    margin-left:auto ;
    margin-right: auto;
}

@media screen and (min-width: 250px) and (max-width: 421px) {
    .moviesConatiner {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-left: 15px ;
    }

    .container .title{
        text-align: center;
    }


    .moviesConatiner div {
        width: 370px;
        margin-left: 0;
        margin-bottom: 2.5rem;
    }
}

@media screen and (min-width: 422px) and (max-width: 452px) {
    .moviesConatiner {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-left: 50px ;
    }

    .moviesConatiner div {
        width: 370px;
        margin-left: 0;
        margin-bottom: 2.5rem;
    }
}

@media screen and (min-width: 453px) and (max-width: 500px) {
    .moviesConatiner {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-left: 65px ;
    }

    .moviesConatiner div {
        width: 450px;
        margin-left: 0;
        margin-bottom: 2.5rem;
    }
}